<% @pagetitle = "Configuration Options" %>

<h2><%= @pagetitle %></h2>

<div class="grid_8 alpha">
  <div>
    <%= form_tag('/application_settings') do -%>
      <h3>Authentication</h3>
      <table>
        <tbody>
          <tr>
            <td>Use iChain?</td>
            <td>
              On <%= radio_button_tag "AuthIchainMode", "on", @application_settings[:AuthIchainMode] == 'on' %>
              Off <%= radio_button_tag "AuthIchainMode", "off", @application_settings[:AuthIchainMode]  == 'off' %>
              Simulated <%= radio_button_tag "AuthIchainMode", "simulated", @application_settings[:AuthIchainMode]  == 'simulated' %>
            </td>
          </tr>
          <tr>
            <td>Use Proxy?</td>
            <td>
              On <%= radio_button_tag "AuthProxyMode", "on", @application_settings[:AuthProxyMode]  == 'on' %>
              Off <%= radio_button_tag "AuthProxyMode", "off", @application_settings[:AuthProxyMode]  == 'off' %>
              Simulated <%= radio_button_tag "AuthProxyMode", "simulated", @application_settings[:AuthProxyMode]  == 'simulated' %>
            </td>
          </tr>
          <tr>
            <td>Proxy User</td>
            <td><%= text_field_tag "AuthProxyUser", @application_settings[:AuthProxyUser], :size => 50 %></td>
          </tr>
          <tr>
            <td>Use OpenID?</td>
            <td>
              On <%= radio_button_tag "AuthOpenIdMode", true, @application_settings[:AuthOpenIdMode].to_bool %>
              Off <%= radio_button_tag "AuthOpenIdMode", false, !@application_settings[:AuthOpenIdMode].to_bool %>
            </td>
          </tr>
          <tr>
            <td>Use LDAP?</td>
            <td>
              On <%= radio_button_tag "LdapMode", true, @application_settings[:LdapMode].to_bool %>
              Off <%= radio_button_tag "LdapMode", false, !@application_settings[:LdapMode].to_bool %>
            </td>
          </tr>
          <tr>
            <td>Use Crowd?</td>
            <td>
              On <%= radio_button_tag "AuthCrowdMode", true, @application_settings[:AuthCrowdMode].to_bool %>
              Off <%= radio_button_tag "AuthCrowdMode", false, !@application_settings[:AuthCrowdMode].to_bool %>
            </td>
          </tr>
          <tr>
            <td>Crowd URL</td>
            <td><%= text_field_tag "AuthCrowdServer", @application_settings[:AuthCrowdServer], :size => 50 %></td>
          </tr>
          <tr>
            <td>Crowd App Name</td>
            <td><%= text_field_tag "AuthCrowdAppName", @application_settings[:AuthCrowdAppName], :size => 50 %></td>
          </tr>
          <tr>
            <td>Crowd App Password</td>
            <td><%= text_field_tag "AuthCrowdAppPassword", @application_settings[:AuthCrowdAppPassword], :size => 50 %></td>
          </tr>
          <tr>
            <td>Allow Anonymous?</td>
            <td>
              On <%= radio_button_tag "AuthAllowAnonymous", true, @application_settings[:AuthAllowAnonymous].to_bool %>
              Off <%= radio_button_tag "AuthAllowAnonymous", false, !@application_settings[:AuthAllowAnonymous].to_bool %>
            </td>
          </tr>
          <tr>
            <td>Read Only Hosts</td>
            <td><%= text_field_tag "AuthReadOnlyHosts", @application_settings[:AuthReadOnlyHosts], :size => 50 %></td>
          </tr>
          <tr>
            <td>Webui Host</td>
            <td><%= text_field_tag "AuthWebuiHost", @application_settings[:AuthWebuiHost], :size => 50 %></td>
          </tr>
        </tbody>
      </table>

      <h3>LDAP</h3>
      <table>
        <tbody>
            <tr>
              <td>LDAP Servers</td>
              <td><%= text_field_tag "LdapServers", @application_settings[:LdapServers], :size => 50 %></td>
            </tr>
            <tr>
              <td>Port Number</td>
              <td><%= text_field_tag "LdapPort", @application_settings[:LdapPort] %></td>
            </tr>
            <tr>
              <td>Maximum Connection Attempts</td>
              <td><%= text_field_tag "LdapMaximumAttempts", @application_settings[:LdapMaximumAttempts], :size => 50 %></td>
            </tr>
            <tr>
              <td>Use SSL?</td>
              <td>
                On <%= radio_button_tag "LdapSsl", true, @application_settings[:LdapSsl].to_bool %>
                Off <%= radio_button_tag "LdapSsl", false, !@application_settings[:LdapSsl].to_bool %>
              </td>
            </tr>
            <tr>
              <td>Use StartTLS?</td>
              <td>
                On <%= radio_button_tag "LdapStartTls", true, @application_settings[:LdapStartTls].to_bool %>
                Off <%= radio_button_tag "LdapStartTls", false, !@application_settings[:LdapStartTls].to_bool %>
              </td>
            </tr>
            <tr>
              <td>Referrals?</td>
              <td>
                On <%= radio_button_tag "LdapReferrals", true, @application_settings[:LdapReferrals].to_bool %>
                Off <%= radio_button_tag "LdapReferrals", false, !@application_settings[:LdapReferrals].to_bool %>
              </td>
            </tr>
            <tr>
              <td>Entry Base DN</td>
              <td><%= text_field_tag "LdapEntryBaseDn", @application_settings[:LdapEntryBaseDn], :size => 50 %></td>
            </tr>
            <tr>
              <td>User Search Base</td>
              <td><%= text_field_tag "LdapUserSearchBase", @application_settings[:LdapUserSearchBase], :size => 50 %></td>
            </tr>
            <tr>
              <td>Search User</td>
              <td><%= text_field_tag "LdapSearchUser", @application_settings[:LdapSearchUser], :size => 50 %></td>
            </tr>
            <tr>
              <td>Search Authentication</td>
              <td><%= text_field_tag "LdapSearchAuth", @application_settings[:LdapSearchAuth], :size => 50 %></td>
            </tr>
            <tr>
              <td>Search Attribute</td>
              <td><%= text_field_tag "LdapSearchAttribute", @application_settings[:LdapSearchAttribute], :size => 50 %></td>
            </tr>
            <tr>
              <td>User memberOf Attribute</td>
              <td><%= text_field_tag "LdapUserMemberOfAttribute", @application_settings[:LdapUserMemberOfAttribute], :size => 50 %></td>
            </tr>
            <tr>
              <td>Group Object Class Attribute</td>
              <td><%= text_field_tag "LdapGroupObjectClassAttribute", @application_settings[:LdapGroupObjectClassAttribute], :size => 50 %></td>
            </tr>
            <tr>
              <td>Group Title Attribute</td>
              <td><%= text_field_tag "LdapGroupTitleAttribute", @application_settings[:LdapGroupTitleAttribute], :size => 50 %></td>
            </tr>
            <tr>
              <td>Group Search Base</td>
              <td><%= text_field_tag "LdapGroupSearchBase", @application_settings[:LdapGroupSearchBase], :size => 50 %></td>
            </tr>


            <tr>
              <td>LDAP Authentication</td>
              <td><%= text_field_tag "LdapAuthentication", @application_settings[:LdapAuthentication], :size => 50 %></td>
            </tr>
            <tr>
              <td>Authentication</td>
              <td><%= text_field_tag "LdapEntryAuthentication", @application_settings[:LdapAuthentication], :size => 50 %></td>
            </tr>
            <tr>
              <td>Authentication Attribute</td>
              <td><%= text_field_tag "LdapAuthenticationAttribute", @application_settings[:LdapAuthenticationAttribute], :size => 50 %></td>
            </tr>
            <tr>
              <td>Authentication Mechanism</td>
              <td><%= text_field_tag "LdapAuthenticationMechanism", @application_settings[:LdapAuthenticationMechanism], :size => 50 %></td>
            </tr>
            <tr>
              <td>Filter Users By Group</td>
              <td><%= text_field_tag "LdapFilterUsersByGroupName", @application_settings[:LdapFilterUsersByGroupName], :size => 50 %></td>
            </tr>
            <tr>
              <td>Group Support?</td>
              <td>
                On <%= radio_button_tag "LdapGroupSupport", true, @application_settings[:LdapGroupSupport].to_bool %>
                Off <%= radio_button_tag "LdapGroupSupport", false, !@application_settings[:LdapGroupSupport].to_bool %>
              </td>
            </tr>
            <tr>
              <td>Group MemberOf Validation</td>
              <td>
                On <%= radio_button_tag "LdapGroupMemberOfValidation", true, @application_settings[:LdapGroupMemberOfValidation].to_bool %>
                Off <%= radio_button_tag "LdapGroupMemberOfValidation", false, !@application_settings[:LdapGroupMemberOfValidation].to_bool %>
              </td>
            </tr>
            <tr>
              <td>Group Member Attribute</td>
              <td><%= text_field_tag "LdapGroupMemberAttribute", @application_settings[:LdapGroupMemberAttribute], :size => 50 %></td>
            </tr>
            <tr>
              <td>Mail Attribute</td>
              <td><%= text_field_tag "LdapMailAttribute", @application_settings[:LdapMailAttribute], :size => 50 %></td>
            </tr>
            <tr>
              <td>Object Class</td>
              <td><%= text_field_tag "LdapObjectClass", @application_settings[:LdapObjectClass], :size => 50 %></td>
            </tr>
            <tr>
              <td>SN Attribute Required?</td>
              <td>
                On <%= radio_button_tag "LdapSnAttributeRequired", true, @application_settings[:LdapSnAttributeRequired].to_bool %>
                Off <%= radio_button_tag "LdapSnAttributeRequired", false, !@application_settings[:LdapSnAttributeRequired].to_bool %>
              </td>
            </tr>
            <tr>
              <td>Update Support?</td>
              <td>
                On <%= radio_button_tag "LdapUpdateSupport", true, @application_settings[:LdapUpdateSupport].to_bool %>
                Off <%= radio_button_tag "LdapUpdateSupport", false, !@application_settings[:LdapUpdateSupport].to_bool %>
              </td>
            </tr>
            <tr>
              <td>User Name Attribute</td>
              <td><%= text_field_tag "LdapUserNameAttribute", @application_settings[:LdapUserNameAttribute], :size => 50 %></td>
            </tr>
        </tbody>
      </table>

      <p><%= submit_tag('Update') %></p>
    <% end %>
  </div>
</div>
